/* хочу Stylus */
body
{
	background-color: #161616;
	color: #DFDFDF;
	margin: 0;
}
#menu
{
	background-color: black;
	padding: 8px;
	position: fixed;
	top: 0;
	width: 128px;
	height: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}
#menu a
{
	color: #bfffbf;
}
#menu a:hover
{
	color: #7f9f7f;
}
header, footer
{
	background-color: black;
	padding: 8px;
	position: fixed;
	width: 100%;
	height: 34px;
	line-height: 34px;
	text-align: center;
}
header
{
	top: 0;
	font-weight: bold;
	color: #bfbfff;
}
footer
{
	bottom: 0;
	color: #ffbfbf;
}
#content
{
	padding: 8px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 144px;
}
.monospaced
{
	color: #FFFFBF;
	margin: 0;
	padding-left: 20px;
	font-family: monospace;
}
#board
{
    border: 4px;
    border-spacing: 2px;
    background-color: black;
	float: left;
}
#board tbody
{
	background-color: #bfbfbf;
}
th
{
	background-color: black;
}
.cell
{
	width: 32px;
	height: 32px;
	padding: 0;
}
.cell.dark
{
	background-color:#282828;
}
.cell.checker.black
{
	background-image:url("black.png");
}
.cell.checker.white
{
	background-image:url("white.png");
}
.cell.checker.black.queen
{
	background-image:url("black_queen.png");
}
.cell.checker.white.queen
{
	background-image:url("white_queen.png");
}
.cell.checker.black.marked
{
	background: linear-gradient(rgba(40,40,40,.5),rgba(40,40,40,.5)), url("black.png"),linear-gradient(rgba(40,40,40,1),rgba(40,40,40,1));
}
.cell.checker.white.marked
{
	background: linear-gradient(rgba(40,40,40,.5),rgba(40,40,40,.5)), url("white.png"),linear-gradient(rgba(40,40,40,1),rgba(40,40,40,1));
}
.cell.checker.black.queen.marked
{
	background: linear-gradient(rgba(40,40,40,.5),rgba(40,40,40,.5)), url("black_queen.png"),linear-gradient(rgba(40,40,40,1),rgba(40,40,40,1));
}
.cell.checker.white.queen.marked
{
	background: linear-gradient(rgba(40,40,40,.5),rgba(40,40,40,.5)), url("white_queen.png"),linear-gradient(rgba(40,40,40,1),rgba(40,40,40,1));
}
.cell.active
{
	background-color: yellow;
}
.cell.target.move
{
	background-color: green;
}
.cell.target.attack
{
	background-color: red;
}
#log
{
	margin: 16px;
    height: 320px;
	float: left;
}
#buttonDiv
{
	display: flex;
    flex-direction: column;
    width: 128px;
}
.emptySpace
{
	margin-top: 16px;
}