<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Добавить человека</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Добавление человека</h1>

<form th:action="@{/addPerson}"
      th:object="${personForm}" method="POST">
    Фамилия:
    <input type="text" th:field="*{lastName}" />
    <br/>
    Имя:
    <input type="text" th:field="*{firstName}" />
    <br/>
    Отчество:
    <input type="text" th:field="*{patronymic}" />
    <br/>
    <input type="submit" value="Добавить" />
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>