<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Добро пожаловать</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Добро пожаловать</h1>
<h2 th:utext="${message}">..!..</h2>

<a th:href="@{/personList}">Список людей</a>

</body>

</html>