<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Список людей</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:text="'Список людей'+(${count != null}?(', кол-во: '+(${count})):'')"></h1>
<a href="addPerson">Добавить</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
        </tr>
        <tr th:each ="person : ${persons}">
            <td th:utext="${person.lastName}">...</td>
            <td th:utext="${person.firstName}">...</td>
            <td th:utext="${person.patronymic}">...</td>
        </tr>
    </table>
</div>
</body>
</html>