<html>
<head>
    <title>Пример Spring Boot Mustache</title>
    <style>
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid #999;
    padding: 5px;
}
</style>
</head>
<body>
<h2>Список рабочих</h2>
<table>
    <tr>
        <th>ID рабочего</th>
        <th>Номер рабочего</th>
        <th>Имя рабочего</th>
        <th>Дата найма</th>
    </tr>

    {{#employees}}
    <tr>
        <td>{{empId}}</td>
        <td>{{empNo}}</td>
        <td>{{empName}}</td>
        <td>{{hireDate}}</td>
    </tr>
    {{/employees}}

</table>
</body>
</html>