<div  xmlns:th="http://www.thymeleaf.org"
      style="border:1px solid #ccc;padding:5px;">

    <a th:href="@{/uploadOneFile}">Выгрузить один файл</a>

    &nbsp;|&nbsp;

    <a th:href="@{/uploadMultiFile}">Выгрузить несколько файлов</a>


</div>