<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Выгрузка файлов на сервер</title>
</head>

<body>
<th:block th:include="/_menu"></th:block>

<h3>Выгрузка файлов на сервер</h3>

<ul>
    <li><a th:href="@{/uploadOneFile}">Выгрузить один файл</a></li>
    <li><a th:href="@{/uploadMultiFile}">Выгрузить несколько файлов</a></li>
</ul>

</body>
</html>